div.wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin: 50px auto;
  width: 1100px;
}

div.wrapper div.list-group {
  width: 250px;
}

div.wrapper div.core {
  height: auto;
  width: 800px;
}

div.wrapper div.core h2.title {
  color: #222222;
  font-size: 20px;
}

div.wrapper div.core div.item-product {
  height: auto;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

div.wrapper div.core div.item-product img {
  float: left;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  position: relative;
  width: 150px;
}

div.wrapper div.core div.item-product h3.product_name {
  color: #333333;
  font-family: "Nunito";
  font-size: 16px;
}

div.wrapper div.core div.item-product p {
  color: #555;
  font-size: 14px;
}

div.wrapper div.core div.item-product p.price {
  color: tomato;
  font-size: 18px;
}

div.wrapper div.core div.form-group img.photo-profile {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

@media screen and (max-width: 1150px) {
  div.wrapper {
    width: 900px;
  }

  div.wrapper div.list-group {
    width: 200px;
  }

  div.wrapper div.core {
    width: 670px;
  }
}

@media screen and (max-width: 950px) {
  div.wrapper {
    display: block;
    margin-top: 30px;
    width: 90%;
  }

  div.wrapper div.list-group {
    display: 100%;
    margin-bottom: 20px;
    width: 100%;
  }

  div.wrapper div.core {
    margin-top: 20px;
    width: 100%;
  }
}
