html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* primary colors */
.bg-primary,
.badge-primary {
  background-color: #0d76ff !important;
}

.text-primary {
  color: #0d76ff !important;
}

.text-default {
  color: #ff0068 !important;
}

.bg-primary-light {
  background-color: #cee3ff !important;
}

.bg-success,
.badge-success {
  background-color: #00be7d !important;
}

.text-success {
  color: #00be7d !important;
}

.bg-succss-light {
  background-color: #c0e9db !important;
}

.bg-warning,
.badge-warning {
  background-color: #ffc400 !important;
}

.text-warning {
  color: #ffc400 !important;
}

.bg-warning-light {
  background-color: #fff0c1 !important;
}

.bg-orange,
.badge-orange {
  background-color: #ff6f00 !important;
}

.bg-orange-light {
  background-color: #ffe5d1 !important;
}

.bg-grey,
.badge-grey {
  background-color: #999999 !important;
}

.bg-grey-light {
  background-color: #bbbbbb !important;
}

.text-white a {
  color: #ffffff !important;
}

.row.proh {
  position: relative;
  overflow-x: hidden;
}

.text-mute {
  opacity: 0.8;
}

.wrapper {
  height: auto;
  width: 100%;
  position: relative;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-left: 0;
  z-index: 1;
  min-height: 100vh;
  padding-bottom: 80px;
}

p.small {
  line-height: 1.45em;
}

p:last-child {
  margin-bottom: 0;
}

sup {
  top: -0.2em;
}

.background {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  opacity: 0.4;
  z-index: 0;
}

.background + div {
  position: relative;
  z-index: 1;
}

/* sideabr  */
body.menuactive {
  overflow: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}

html.menuactive {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body.menuactive .wrapper {
  overflow: hidden;
  height: 100vh;
}

body.sidemenu-open .wrapper {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin-left: 240px;
  border-radius: 10px;
}

body.sidemenu-open .wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  user-select: none;
  -webkit-user-select: none;
  z-index: 10;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  padding-top: env(safe-area-inset-top);
  width: 250px;
  height: 100%;
  z-index: 0;
  left: -260px;
  top: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  overflow-y: auto;
}

.sidebar .main-menu .list-group-item {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
}

.sidebar .main-menu .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.sidebar .main-menu .list-group-item.active {
  background-color: rgba(255, 255, 255, 0.25);
}

body.sidemenu-open .sidebar {
  left: 0;
}

.sidebar .figure-menu {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding: 5px;
  display: block;
  margin: 45px auto 20px auto;
  background-color: #ffffff;
}

.sidebar .figure-menu figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.sidebar .figure-menu figure img {
  width: 100%;
}

/* Loader css */
.breadcrumb-item.active {
  color: #b9b9b9;
}

/* Loader css */
.laoderhorizontal {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.laoderhorizontal div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.laoderhorizontal div:nth-child(1) {
  left: 6px;
  animation: laoderhorizontal1 0.6s infinite;
}

.laoderhorizontal div:nth-child(2) {
  left: 6px;
  animation: laoderhorizontal2 0.6s infinite;
}

.laoderhorizontal div:nth-child(3) {
  left: 26px;
  animation: laoderhorizontal2 0.6s infinite;
}

.laoderhorizontal div:nth-child(4) {
  left: 45px;
  animation: laoderhorizontal3 0.6s infinite;
}

@keyframes laoderhorizontal1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes laoderhorizontal3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes laoderhorizontal2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.btn-loader {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.btn-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: btnloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
}

.btn-loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.btn-loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.btn-loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes btnloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: #ff0068;
}

/* introduction swiper slider css */
.demo-swiper,
.swiper-init {
  height: 450px;
  margin-top: 30px;
}

.demo-swiper .swiper-slide,
.swiper-init .swiper-slide {
  background-color: #ffffff;
}

.demo-swiper .swiper-slide,
.swiper-init .swiper-slide {
  background-size: cover;
}

.demo-swiper-gallery-top {
  height: 350px;
  margin-top: 30px;
}

.demo-swiper-gallery-top .swiper-slide {
  background-size: cover;
}

.demo-swiper-gallery-thumbs {
  height: 80px;
}

.demo-swiper-gallery-thumbs .swiper-slide > div {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000000;
}

.introduction.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 35px;
  margin-bottom: env(safe-area-inset-bottom);
}

.introduction .swiper-slide {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-bottom);
}

.right-image {
  position: absolute;
  z-index: 0;
  right: 0;
  top: auto;
  bottom: auto;
  height: 600px;
}

.right-image + div {
  z-index: 1;
}

.orange-slice {
  margin-right: -200px;
}

.pinapple {
  margin-right: -120px;
}

.banana {
  margin-right: -190px;
}

.apple {
  margin-right: -280px;
}

/* form elements */
select.form-control option,
select.form-control optgroup {
  color: #000000;
}

.form-control:focus {
  box-shadow: none;
  -ms-box-shadow: none;
}

.form-control::placeholder {
  color: #bbbbbb;
}

.float-label {
  padding-top: 15px;
  position: relative;
}

.form-group .form-control-label {
  font-size: 13px;
  line-height: 18px;
  color: #bbbbbb;
}

.float-label .form-control-label {
  position: absolute;
  left: 0;
  top: 24px;
  margin: 0;
  line-height: 20px;
  color: #bbbbbb;
  font-size: 15px;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  z-index: 0;
}

.float-label .form-control,
.float-label .chosen-container .chosen-choices,
.float-label .chosen-container .chosen-single {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-radius: 0;
  z-index: 1;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

.float-label .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
}

.float-label .form-control:focus + .form-control-label,
.float-label.active label {
  top: 0;
  font-size: 13px;
  line-height: 20px;
}

.form-control-lg {
  font-size: 18px;
}

.search {
  border-radius: 30px;
  background: url("../images/logo/search.png") no-repeat center right #fff;
  border-color: #ffffff;
}

.chosen-container-active .chosen-choices,
.chosen-container .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.chosen-container-multi .chosen-choices,
.chosen-container .chosen-single {
  padding: 5px;
  height: auto;
  border-color: #ced4da;
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container .chosen-single li.search-choice {
  position: relative;
  padding: 5px 25px 5px 15px;
  line-height: 18px;
  border: 0px none;
  border-radius: 30px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 6px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  padding: 5px;
}

.chosen-container.chosen-with-drop .chosen-drop {
  border: 0;
}

.chosen-container .chosen-results li.highlighted {
  background-image: none;
}

/* button */
.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-width: 0;
}

[class*="outline"] {
  border-width: 1px;
}

body a.btn-primary,
body a.btn-warning,
body a.btn-danger,
body a.btn-success {
  color: #ffffff;
}

.btn-lg {
  padding: 0.815rem 1.5rem;
}

.btn-sm {
  font-size: 14px;
}

.btn i,
.btn span,
a i {
  vertical-align: middle;
}

.btn img {
  max-width: 20px;
  vertical-align: middle;
}

.btn:focus {
  box-shadow: none;
  -ms-box-shadow: none;
}

.btn i:first-child {
  margin-right: 5px;
  margin-left: -4px;
}

.btn i:last-child {
  margin-left: 5px;
  margin-right: -4px;
}

.btn i:last-child:first-child {
  margin-left: 0px;
  margin-right: 0px;
}

.button-rounded-54 {
  height: 54px;
  width: 54px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border-radius: 28px;
}

.button-rounded-36 {
  height: 36px;
  width: 36px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border-radius: 28px;
}

.button-rounded-26 {
  height: 26px;
  width: 26px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  border-radius: 13px;
}

.float-bottom-right {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
  margin-bottom: env(safe-area-inset-bottom);
}

.btn-rounded {
  border-radius: 30px;
}

.btn-rounded-15 {
  border-radius: 15px;
}

.btn-default,
body .btn.btn-secondary {
  color: #ffffff;
}

.btn-warning {
  background-color: #ffc400;
  color: #ffffff;
}

.btn-warning:focus,
.btn-warning:active,
.btn-warning:hover {
  background-color: #f0b000;
  color: #ffffff !important;
}

.btn.btn-link-default {
  color: #bbbbbb;
}

.btn.shadow-sm {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2) !important;
  -ms-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2) !important;
}

.btn.shadow-xs {
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.1) !important;
}

.btn-light,
body a.btn-light {
  background-color: #ffffff;
  color: #999999;
}

.btn-light-grey,
body a.btn-light-grey {
  background-color: #e3eaf1;
  color: #bbbbbb;
  border-color: #f3f6f8;
}

.btn-group > .btn:first-child,
.btn-group > .btn:first-of-type,
.btn-group > .btn-group:first-child > .btn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn-group > .btn:last-child,
.btn-group > .btn:last-of-type,
.btn-group > .btn-group:last-child > .btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.btn h6,
.btn h5,
.btn h4,
.btn h3,
.btn h2,
.btn h1 {
  vertical-align: middle;
}

.vm {
  vertical-align: middle;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.input-group > .form-control:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.input-group > .form-control:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.input-group > .input-group-prepend > .input-group-text + .input-group-text {
  border-radius: 0;
}

.w-45 {
  width: 45px !important;
  text-align: center;
}

.w-35 {
  width: 35px !important;
  text-align: center;
}

.input-group.input-group-sm > .form-control {
  height: calc(1.6em + 0.5rem + 2px);
  border-color: #e3eaf1;
}

.border-top-dashed {
  border-top: 2px dashed #e3ead7 !important;
}

.progress {
  background-color: rgba(0, 0, 0, 0.05);
}

/* heights  */
.h-2 {
  height: 2px;
}

.h-4 {
  height: 4px;
}

.h-6 {
  height: 6px;
}

.h-8 {
  height: 8px;
}

.h-10 {
  height: 10px;
}

/* popover  */
.popover {
  border: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Notifications  */
.new-notification {
  height: 10px;
  width: 10px;
  border-radius: 6px;
  background-color: #ff0068;
  display: block;
  position: absolute;
  top: 23px;
  right: 5px;
  border: 2px solid #ffffff;
}

/* List items  */
.list-items {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

.list-items li {
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #eef2f5;
  width: 100%;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}

.list-items li:last-child {
  margin-bottom: 0;
}

.list-group .list-group-item {
  padding: 0.75rem 15px;
}

/*.list-group .list-group-item:hover {
    background-color: #FF0068;
}

.list-group .list-group-item:hover * {
    color: #FFFFFF !important
}
.list-group .list-group-item:hover .form-control{
    color: #000000 !important ;
}*/
.list-group-item.active {
  z-index: 2;
  color: #343a40;
  background-color: #e3eaf1;
  border-color: #ffffff;
}

.list-group-item.active:hover * {
  color: #343a40 !important;
}

/* Nav tabs  */
.nav-tabs {
  z-index: 0;
  border: 0;
  margin-bottom: -11px;
}

.card .card-header .nav-tabs {
  margin-bottom: -1px;
  text-align: center;
}

.card-img:first-child {
  border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link {
  padding: 15px 15px 25px 15px;
  border: 0;
  border-radius: 15px 15px 0 0;
}

.card .card-header .nav-tabs .nav-link {
  padding: 15px;
}

.nav-tabs .nav-link.active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card .card-header .nav-tabs .nav-link.active {
  box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 0 -0.125rem 0.125rem rgba(0, 0, 0, 0.075);
}

.card .card-header {
  border: 0;
  border-radius: 14px;
}

.card .card-footer {
  border: 0;
  border-radius: 0 0 12px 12px;
}

.card .card-header .card-title {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  z-index: 1;
}

.tab-content .tab-pane {
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 15px;
}

.card .tab-content .tab-pane {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

/* Notification */
.notification {
  padding: 15px;
  background-color: #ffffff;
  position: fixed;
  top: -30%;
  width: 84%;
  max-width: 400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-left-width: 3px;
  border-left-style: solid;
  z-index: 10;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  border-radius: 10px;
  overflow: hidden;
}

.notification.active {
  top: 30px;
  opacity: 1;
}

.notification.bottom {
  bottom: -30%;
  opacity: 0;
  top: auto;
}

.notification.bottom.active {
  bottom: 30px;
  opacity: 1;
}

/* header */

.header {
  width: 100%;
  height: auto;
  position: fixed;
  padding: env(safe-area-inset-top);
  top: 0;
  left: 0;
  z-index: 9;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

.header.active {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: auto;
  max-height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px auto 0px auto;
}

.header .btn {
  height: 54px;
  width: 54px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.header + div {
  padding-top: 54px;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  position: fixed;
  padding: env(safe-area-inset-bottom);
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  background: #ffffff;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.footer-detail {
  width: 100%;
  height: auto;
  position: fixed;
  padding: env(safe-area-inset-bottom);
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  background: #ffffff;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.footer .btn {
  width: 60px;
  height: 60px;
  line-height: 54px;
  padding: 0;
  text-align: center;
  display: block;
  vertical-align: middle;
}

.footer .btn i {
  width: 22px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.footer .centerbutton {
  height: 60px;
  line-height: 54px;
  width: 60px;
  border-radius: 30px;
  margin: 0 15px;
  margin-top: -20px;
}

/* page specific */
.subtitle {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subtitle span {
  vertical-align: middle;
  display: inline-block;
  line-height: 26px;
  border-bottom: 2px solid #ffffff;
}

.logo-small {
  width: 122px;
}

.form-signin {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  margin: 30px auto;
  max-width: 320px;
}

/* product */

.small-slide {
  height: 150px;
}

.small-slide .swiper-slide {
  width: 165px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.menu-profil .swiper-slide {
  width: auto;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-left: 10px;
}

.small-slide .swiper-slide .card {
  border-radius: 15px;
  margin-left: 15px;
  height: 100%;
  width: 92%;
}

.small-slide .swiper-slide .card-body {
  position: relative;
}

.small-slide .swiper-slide .small-slide-right {
    max-height: 100%;
    margin-right: 25px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 90px;
}
}

.badge {
  border-radius: 30px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.category-image {
  height: 80px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px auto;
  max-width: 100px;
}

.product-image {
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px auto;
  max-width: 100px;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
}

.news-slide {
  height: 180px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.news-slide .swiper-slide {
  padding: 0 15px 10px 15px;
}

.news-slide .swiper-slide .card {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.news-slide.swiper-container-horizontal > .swiper-pagination-bullets {
  margin-bottom: -10px;
}

/* card */
.card {
  border-radius: 15px;
}

.card .card-body {
  padding: 15px;
}

.tulisan-card {
  display: block;
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tulisan-card-kategori {
  display: block;
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}


/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/*  filter */
.filter {
  height: 100%;
  width: 280px;
  position: fixed;
  right: -280px;
  top: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  z-index: 11;
  padding-bottom: env(safe-area-inset-bottom);
}

.filtermenu-open .filter {
  right: 0;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.25);
}

.filter > .filter-btn {
  border-radius: 30px 0 0 30px;
  width: 40px;
  text-align: left;
  position: absolute;
  left: -39px;
  top: 135px;
}

.text-normal {
  text-transform: none;
}

@media screen and (max-width: 610px) {
  .filter-group {
    margin-right: 50px;
  }

  .filter > .filter-btn {
    width: 50px;
    left: -49px;
  }
}

.filters-container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: block;
}

/* range slider */
.noUi-target {
  background: #ffffffa1;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

.noUi-horizontal {
  height: 10px;
}

.noUi-connect {
  background: #000000;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 60px;
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
  display: none;
}

/* progress bar */
.progress-bar {
  border-radius: 10px;
}

.progress-sm {
  height: 8px;
  padding: 2px;
}

/* product details  */
.product-details {
  height: 300px;
}

.product-details {
}

.product-details .swiper-slide {
  padding: 20px 15px 40px 15px;
  line-height: 200px;
  text-align: center;
}

.product-details .swiper-slide > img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

/* avatar */

.avatar {
  border-radius: 200px;
  display: inline-block;
  margin: 0px auto;
  background-color: #ffffff;
  overflow: hidden;
  border: 3px solid #ffffff;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.avatar img {
  width: 100%;
  vertical-align: top;
}

.avatar-20 {
  height: 20px;
  width: 20px;
}

.avatar-40 {
  height: 40px;
  width: 40px;
}

.avatar-60 {
  height: 60px;
  width: 60px;
}

.avatar-80 {
  height: 80px;
  width: 80px;
}

.avatar-100 {
  height: 100px;
  width: 100px;
}

.avatar-120 {
  height: 120px;
  width: 120px;
}

.avatar-50 {
  height: 50px;
  width: 50px;
}

.avatar-70 {
  height: 70px;
  width: 70px;
}

.avatar-90 {
  height: 90px;
  width: 90px;
}

.figure-profile {
  height: 178px;
  width: 178px;
  border-radius: 90px;
  border: 10px solid #ff0068;
  margin: 0 auto;
  position: relative;
}

.figure-profile figure {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.figure-profile figure img {
  width: 100%;
  min-height: 100%;
}

.figure-profile > .floating-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
}

.figure-profile .floating-btn i {
  font-size: 22px;
  margin: 0;
}

.float-file {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
  opacity: 0;
}

.cart_counter {
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 13px;
}

pre {
  background: #e8f4ff;
  padding: 15px;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-dialog-end {
  display: -ms-flexbox;
  display: -moz-flexbox;
  display: -webkit-flexbox;
  display: flex;
  -ms-flex-align: flex-end;
  -moz-flex-align: flex-end;
  -webkit-flex-align: flex-end;
  align-items: flex-end;
  min-height: calc(100% - 3.5rem);
}
.btn-rounded-54 {
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  width: 54px;
  border-radius: 50%;
  padding: 0;
}
/* theme color pink  */

.pink-theme .bg-background,
.pink-theme .header.active,
.pink-theme .list-group-item.active {
  background-color: #e3eaf1;
}

.pink-theme .wrapper {
  background-color: #e3eaf1;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e3eaf1 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #e3eaf1)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e3eaf1 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e3eaf1 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e3eaf1 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #e3eaf1 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.pink-theme-bg,
.pink-theme body,
.pink-theme body.sidemenu-open,
.pink-theme .bg-template,
.pink-theme .btn-default,
.pink-theme .custom-control-input:checked ~ .custom-control-label::before,
.pink-theme .small-slide .swiper-slide .card:hover,
.pink-theme .small-slide .swiper-slide .card:focus,
.pink-theme .filter,
.pink-theme .chosen-container .chosen-results li.highlighted,
.pink-theme .page-item.active .page-link,
.pink-theme .nav-pills .nav-link.active,
.pink-theme .nav-pills .show > .nav-link,
.pink-theme .loader-screen {
  background-color: #ff0068;
}

.pink-theme .filter,
.pink-theme .filter .form-control,
.pink-theme .filter .form-group label,
.pink-theme .float-label .chosen-container-multi .chosen-choices,
.pink-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.pink-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.pink-theme .btn-default,
.pink-theme .sidebar,
.pink-theme .sidebar .main-menu .list-group-item,
.pink-theme .small-slide .swiper-slide .card:hover *,
.pink-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.pink-theme .filter .form-group label {
  opacity: 0.85;
}

.pink-theme .btn-default:hover,
.pink-theme .btn-default:focus {
  color: #ffffff;
  background-color: #dd015b;
}

.pink-theme .figure-profile,
.pink-theme .form-control:focus,
.pink-theme .custom-control-input:focus ~ .custom-control-label::before,
.pink-theme .custom-control-input:checked ~ .custom-control-label::before,
.pink-theme .float-label .form-control:focus,
.pink-theme .page-item.active .page-link,
.pink-theme .btn-outline-default {
  border-color: #ff0068;
}

.pink-theme .filter .form-control:focus,
.pink-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.pink-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.pink-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.pink-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.pink-theme .btn-light:hover,
.pink-theme .btn-light:focus,
.pink-theme .btn-light:not(:disabled):not(.disabled).active,
.pink-theme .bg-template-light {
  background-color: #ffe5f0;
}

.pink-theme .text-template,
.pink-theme .btn-link,
.pink-theme a,
.pink-theme .float-label .form-control:focus + .form-control-label,
.pink-theme .btn-light:hover,
.pink-theme .btn-light:focus,
.pink-theme .btn-light:not(:disabled):not(.disabled).active,
.pink-theme .btn.btn-link-default:hover,
.pink-theme .btn.btn-link-default:focus,
.pink-theme .btn.btn-link-default.active {
  color: #ff0068;
}

/* brown theme */
.brown-theme .bg-background,
.brown-theme .header.active,
.brown-theme .list-group-item.active {
  background-color: #f1ecdf;
}

.brown-theme .wrapper {
  background-color: #f1ecdf;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #f1ecdf 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #f1ecdf)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #f1ecdf 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #f1ecdf 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #f1ecdf 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #f1ecdf 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.brown-theme-bg,
.brown-theme body,
.brown-theme body.sidemenu-open,
.brown-theme .bg-template,
.brown-theme .btn-default,
.brown-theme .custom-control-input:checked ~ .custom-control-label::before,
.brown-theme .small-slide .swiper-slide .card:hover,
.brown-theme .small-slide .swiper-slide .card:focus,
.brown-theme .filter,
.brown-theme .chosen-container .chosen-results li.highlighted,
.brown-theme .page-item.active .page-link,
.brown-theme .nav-pills .nav-link.active,
.brown-theme .nav-pills .show > .nav-link,
.brown-theme .loader-screen {
  background-color: #805433;
}

.brown-theme .filter,
.brown-theme .filter .form-control,
.brown-theme .filter .form-group label,
.brown-theme .float-label .chosen-container-multi .chosen-choices,
.brown-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.brown-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.brown-theme .btn-default,
.brown-theme .sidebar,
.brown-theme .sidebar .main-menu .list-group-item,
.brown-theme .small-slide .swiper-slide .card:hover *,
.brown-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.brown-theme .filter .form-group label {
  opacity: 0.85;
}

.brown-theme .btn-default:hover,
.brown-theme .btn-default:focus {
  color: #ffffff;
  background-color: #502d13;
}

.brown-theme .figure-profile,
.brown-theme .form-control:focus,
.brown-theme .custom-control-input:focus ~ .custom-control-label::before,
.brown-theme .custom-control-input:checked ~ .custom-control-label::before,
.brown-theme .float-label .form-control:focus,
.brown-theme .page-item.active .page-link,
.brown-theme .btn-outline-default {
  border-color: #805433;
}

.brown-theme .filter .form-control:focus,
.brown-theme
  .filter
  .custom-control-input:focus
  ~ .custom-control-label::before,
.brown-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.brown-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.brown-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.brown-theme .btn-light:hover,
.brown-theme .btn-light:focus,
.brown-theme .btn-light:not(:disabled):not(.disabled).active,
.brown-theme .bg-template-light {
  background-color: #f0e6de;
}

.brown-theme .text-template,
.brown-theme .btn-link,
.brown-theme a,
.brown-theme .float-label .form-control:focus + .form-control-label,
.brown-theme .btn-light:hover,
.brown-theme .btn-light:focus,
.brown-theme .btn-light:not(:disabled):not(.disabled).active,
.brown-theme .btn.btn-link-default:hover,
.brown-theme .btn.btn-link-default:focus,
.brown-theme .btn.btn-link-default.active {
  color: #805433;
}

.brown-theme .bg-warning,
.brown-theme .badge-warning {
  background-color: #ead68e !important;
}

.brown-theme .bg-success,
.brown-theme .badge-success {
  background-color: #9fd8c5 !important;
}

.brown-theme .bg-orange,
.brown-theme .badge-orange {
  background-color: #e6b793 !important;
}

.brown-theme .bg-primary,
.brown-theme .badge-primary {
  background-color: #8db3e4 !important;
}

.brown-theme .orange-slice {
  margin-right: -110px;
}

/* blue theme */
.blue-theme .bg-background,
.blue-theme .header.active,
.blue-theme .list-group-item.active {
  background-color: #e7efff;
}

.blue-theme .wrapper {
  background-color: #f1ecdf;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #e7efff)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #e7efff 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.blue-theme-bg,
.blue-theme body,
.blue-theme body.sidemenu-open,
.blue-theme .bg-template,
.blue-theme .btn-default,
.blue-theme .custom-control-input:checked ~ .custom-control-label::before,
.blue-theme .small-slide .swiper-slide .card:hover,
.blue-theme .small-slide .swiper-slide .card:focus,
.blue-theme .filter,
.blue-theme .chosen-container .chosen-results li.highlighted,
.blue-theme .page-item.active .page-link,
.blue-theme .nav-pills .nav-link.active,
.blue-theme .nav-pills .show > .nav-link,
.blue-theme .loader-screen {
  background-color: #4885ff;
}

.blue-theme .filter,
.blue-theme .filter .form-control,
.blue-theme .filter .form-group label,
.blue-theme .float-label .chosen-container-multi .chosen-choices,
.blue-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.blue-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.blue-theme .btn-default,
.blue-theme .sidebar,
.blue-theme .sidebar .main-menu .list-group-item,
.blue-theme .small-slide .swiper-slide .card:hover *,
.blue-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.blue-theme .filter .form-group label {
  opacity: 0.85;
}

.blue-theme .btn-default:hover,
.blue-theme .btn-default:focus {
  color: #ffffff;
  background-color: #1b53c4;
}

.blue-theme .figure-profile,
.blue-theme .form-control:focus,
.blue-theme .custom-control-input:focus ~ .custom-control-label::before,
.blue-theme .custom-control-input:checked ~ .custom-control-label::before,
.blue-theme .float-label .form-control:focus,
.blue-theme .page-item.active .page-link,
.blue-theme .btn-outline-default {
  border-color: #4885ff;
}

.blue-theme .filter .form-control:focus,
.blue-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.blue-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.blue-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.blue-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.blue-theme .btn-light:hover,
.blue-theme .btn-light:focus,
.blue-theme .btn-light:not(:disabled):not(.disabled).active,
.blue-theme .bg-template-light {
  background-color: #c8daff;
}

.blue-theme .text-template,
.blue-theme .btn-link,
.blue-theme a,
.blue-theme .float-label .form-control:focus + .form-control-label,
.blue-theme .btn-light:hover,
.blue-theme .btn-light:focus,
.blue-theme .btn-light:not(:disabled):not(.disabled).active,
.blue-theme .btn.btn-link-default:hover,
.blue-theme .btn.btn-link-default:focus,
.blue-theme .btn.btn-link-default.active {
  color: #4885ff;
}

.blue-theme .bg-warning,
.blue-theme .badge-warning {
  background-color: #fdd835 !important;
}

.blue-theme .bg-success,
.blue-theme .badge-success {
  background-color: #333333 !important;
}

.blue-theme .bg-orange,
.blue-theme .badge-orange {
  background-color: #ff9133 !important;
}

.blue-theme .bg-primary,
.blue-theme .badge-primary {
  background-color: #3fa7ff !important;
}

.blue-theme .orange-slice {
  margin-right: -110px;
}

/* purple theme */
.purple-theme .bg-background,
.purple-theme .header.active,
.purple-theme .list-group-item.active {
  background-color: #ebe2f4;
}

.purple-theme .wrapper {
  background-color: #ebe2f4;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #ebe2f4 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #ebe2f4)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #ebe2f4 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #ebe2f4 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #ebe2f4 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #ebe2f4 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.purple-theme-bg,
.purple-theme body,
.purple-theme body.sidemenu-open,
.purple-theme .bg-template,
.purple-theme .btn-default,
.purple-theme .custom-control-input:checked ~ .custom-control-label::before,
.purple-theme .small-slide .swiper-slide .card:hover,
.purple-theme .small-slide .swiper-slide .card:focus,
.purple-theme .filter,
.purple-theme .chosen-container .chosen-results li.highlighted,
.purple-theme .page-item.active .page-link,
.purple-theme .nav-pills .nav-link.active,
.purple-theme .nav-pills .show > .nav-link,
.purple-theme .loader-screen {
  background-color: #791ed3;
}

.purple-theme .filter,
.purple-theme .filter .form-control,
.purple-theme .filter .form-group label,
.purple-theme .float-label .chosen-container-multi .chosen-choices,
.purple-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.purple-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.purple-theme .btn-default,
.purple-theme .sidebar,
.purple-theme .sidebar .main-menu .list-group-item,
.purple-theme .small-slide .swiper-slide .card:hover *,
.purple-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.purple-theme .filter .form-group label {
  opacity: 0.85;
}

.purple-theme .btn-default:hover,
.purple-theme .btn-default:focus {
  color: #ffffff;
  background-color: #5908aa;
}

.purple-theme .figure-profile,
.purple-theme .form-control:focus,
.purple-theme .custom-control-input:focus ~ .custom-control-label::before,
.purple-theme .custom-control-input:checked ~ .custom-control-label::before,
.purple-theme .float-label .form-control:focus,
.purple-theme .page-item.active .page-link,
.purple-theme .btn-outline-default {
  border-color: #791ed3;
}

.purple-theme .filter .form-control:focus,
.purple-theme
  .filter
  .custom-control-input:focus
  ~ .custom-control-label::before,
.purple-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.purple-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.purple-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.purple-theme .btn-light:hover,
.purple-theme .btn-light:focus,
.purple-theme .btn-light:not(:disabled):not(.disabled).active,
.purple-theme .bg-template-light {
  background-color: #e3cdf8;
}

.purple-theme .text-template,
.purple-theme .btn-link,
.purple-theme a,
.purple-theme .float-label .form-control:focus + .form-control-label,
.purple-theme .btn-light:hover,
.purple-theme .btn-light:focus,
.purple-theme .btn-light:not(:disabled):not(.disabled).active,
.purple-theme .btn.btn-link-default:hover,
.purple-theme .btn.btn-link-default:focus,
.purple-theme .btn.btn-link-default.active {
  color: #791ed3;
}

.purple-theme .bg-warning,
.purple-theme .badge-warning {
  background-color: #fdd835 !important;
}

.purple-theme .bg-success,
.purple-theme .badge-success {
  background-color: #333333 !important;
}

.purple-theme .bg-orange,
.purple-theme .badge-orange {
  background-color: #ff9133 !important;
}

.purple-theme .bg-primary,
.purple-theme .badge-primary {
  background-color: #3fa7ff !important;
}

.purple-theme .orange-slice {
  margin-right: -110px;
}

/* green theme */
.green-theme .bg-background,
.green-theme .header.active,
.green-theme .list-group-item.active {
  background-color: #e4f7ed;
}

.green-theme .wrapper {
  background-color: #e4f7ed;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e4f7ed 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #e4f7ed)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e4f7ed 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e4f7ed 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #e4f7ed 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #e4f7ed 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.green-theme-bg,
.green-theme body,
.green-theme body.sidemenu-open,
.green-theme .bg-template,
.green-theme .btn-default,
.green-theme .custom-control-input:checked ~ .custom-control-label::before,
.green-theme .small-slide .swiper-slide .card:hover,
.green-theme .small-slide .swiper-slide .card:focus,
.green-theme .filter,
.green-theme .chosen-container .chosen-results li.highlighted,
.green-theme .page-item.active .page-link,
.green-theme .nav-pills .nav-link.active,
.green-theme .nav-pills .show > .nav-link,
.green-theme .loader-screen {
  background-color: #00d169;
}

.green-theme .filter,
.green-theme .filter .form-control,
.green-theme .filter .form-group label,
.green-theme .float-label .chosen-container-multi .chosen-choices,
.green-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.green-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.green-theme .btn-default,
.green-theme .sidebar,
.green-theme .sidebar .main-menu .list-group-item,
.green-theme .small-slide .swiper-slide .card:hover *,
.green-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.green-theme .filter .form-group label {
  opacity: 0.85;
}

.green-theme .btn-default:hover,
.green-theme .btn-default:focus {
  color: #ffffff;
  background-color: #00a352;
}

.green-theme .figure-profile,
.green-theme .form-control:focus,
.green-theme .custom-control-input:focus ~ .custom-control-label::before,
.green-theme .custom-control-input:checked ~ .custom-control-label::before,
.green-theme .float-label .form-control:focus,
.green-theme .page-item.active .page-link,
.green-theme .btn-outline-default {
  border-color: #00d169;
}

.green-theme .filter .form-control:focus,
.green-theme
  .filter
  .custom-control-input:focus
  ~ .custom-control-label::before,
.green-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.green-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.green-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.green-theme .btn-light:hover,
.green-theme .btn-light:focus,
.green-theme .btn-light:not(:disabled):not(.disabled).active,
.green-theme .bg-template-light {
  background-color: #a9e8c9;
}

.green-theme .text-template,
.green-theme .btn-link,
.green-theme a,
.green-theme .float-label .form-control:focus + .form-control-label,
.green-theme .btn-light:hover,
.green-theme .btn-light:focus,
.green-theme .btn-light:not(:disabled):not(.disabled).active,
.green-theme .btn.btn-link-default:hover,
.green-theme .btn.btn-link-default:focus,
.green-theme .btn.btn-link-default.active {
  color: #00d169;
}

.green-theme .bg-warning,
.green-theme .badge-warning {
  background-color: #fdd835 !important;
}

.green-theme .bg-success,
.green-theme .badge-success {
  background-color: #333333 !important;
}

.green-theme .bg-orange,
.green-theme .badge-orange {
  background-color: #ff9133 !important;
}

.green-theme .bg-primary,
.green-theme .badge-primary {
  background-color: #3fa7ff !important;
}

/* grey theme */
.grey-theme .bg-background,
.grey-theme .header.active,
.grey-theme .list-group-item.active {
  background-color: #eeeeee;
}

.grey-theme .wrapper {
  background-color: #eeeeee;
  background-image: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #eeeeee 100%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(100%, #eeeeee)
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #eeeeee 100%
  );
  background-image: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #eeeeee 100%
  );
  background-image: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 250, 250, 1) 0%,
    #eeeeee 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(250, 250, 250, 1) 0%,
    #eeeeee 100%
  );
  background-attachment: inherit;
  background-position: center top;
  background-size: 100% 100%;
}

.grey-theme-bg,
.grey-theme body,
.grey-theme body.sidemenu-open,
.grey-theme .bg-template,
.grey-theme .btn-default,
.grey-theme .custom-control-input:checked ~ .custom-control-label::before,
.grey-theme .small-slide .swiper-slide .card:hover,
.grey-theme .small-slide .swiper-slide .card:focus,
.grey-theme .filter,
.grey-theme .chosen-container .chosen-results li.highlighted,
.grey-theme .page-item.active .page-link,
.grey-theme .nav-pills .nav-link.active,
.grey-theme .nav-pills .show > .nav-link,
.grey-theme .loader-screen {
  background-color: #333333;
}

.grey-theme .filter,
.grey-theme .filter .form-control,
.grey-theme .filter .form-group label,
.grey-theme .float-label .chosen-container-multi .chosen-choices,
.grey-theme
  .float-label
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"],
.grey-theme .filter .chosen-container-multi .chosen-choices li.search-choice,
.grey-theme .btn-default,
.grey-theme .sidebar,
.grey-theme .sidebar .main-menu .list-group-item,
.grey-theme .small-slide .swiper-slide .card:hover *,
.grey-theme .small-slide .swiper-slide .card:focus * {
  color: #ffff !important;
}

.grey-theme .filter .form-group label {
  opacity: 0.85;
}

.grey-theme .btn-default:hover,
.grey-theme .btn-default:focus {
  color: #ffffff;
  background-color: #222222;
}

.grey-theme .figure-profile,
.grey-theme .form-control:focus,
.grey-theme .custom-control-input:focus ~ .custom-control-label::before,
.grey-theme .custom-control-input:checked ~ .custom-control-label::before,
.grey-theme .float-label .form-control:focus,
.grey-theme .page-item.active .page-link,
.grey-theme .btn-outline-default {
  border-color: #222222;
}

.grey-theme .filter .form-control:focus,
.grey-theme .filter .custom-control-input:focus ~ .custom-control-label::before,
.grey-theme
  .filter
  .custom-control-input:checked
  ~ .custom-control-label::before,
.grey-theme .filter .float-label .form-control:focus {
  border-color: #ffffff;
}

.grey-theme .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 104, 0.3);
}

.grey-theme .btn-light:hover,
.grey-theme .btn-light:focus,
.grey-theme .btn-light:not(:disabled):not(.disabled).active,
.grey-theme .bg-template-light {
  background-color: #444444;
}

.grey-theme .text-template,
.grey-theme .btn-link,
.grey-theme a,
.grey-theme .float-label .form-control:focus + .form-control-label,
.grey-theme .btn-light:hover,
.grey-theme .btn-light:focus,
.grey-theme .btn-light:not(:disabled):not(.disabled).active,
.grey-theme .btn.btn-link-default:hover,
.grey-theme .btn.btn-link-default:focus,
.grey-theme .btn.btn-link-default.active {
  color: #999999;
}

.grey-theme .bg-warning,
.grey-theme .badge-warning {
  background-color: #fdd835 !important;
}

.grey-theme .bg-success,
.grey-theme .badge-success {
  background-color: #333333 !important;
}

.grey-theme .bg-orange,
.grey-theme .badge-orange {
  background-color: #ff9133 !important;
}

.grey-theme .bg-primary,
.grey-theme .badge-primary {
  background-color: #3fa7ff !important;
}

.purple-theme .orange-slice {
  margin-right: -110px;
}

.dark-layout body,
.dark-layout .text-dark,
.dark-layout .text-muted,
.dark-layout .list-group-item.active,
.dark-layout .text-secondary,
.dark-layout a.text-dark:focus,
.dark-layout a.text-dark:hover,
.dark-layout .search,
.dark-layout .float-label .form-control,
.dark-layout .float-label .chosen-container .chosen-choices,
.dark-layout .float-label .chosen-container .chosen-single {
  color: #ffffff !important;
}

.dark-layout .form-signin,
.dark-layout .form-signin .text-secondary,
.dark-layout .form-signin .float-label .form-control,
.dark-layout .form-signin .float-label .chosen-container .chosen-choices,
.dark-layout .form-signin .float-label .chosen-container .chosen-single,
.dark-layout .modal-dialog,
.dark-layout .modal-dialog .text-dark {
  color: #000000 !important;
}

.dark-layout .wrapper {
  background: #000000 !important;
}

.dark-layout .swiper-pagination-bullet {
  background: #ffffff !important;
}

.dark-layout .card,
.dark-layout .footer,
.dark-layout .footer-detail,
.dark-layout .tombol-footer-detail-chat,
.dark-layout .btn-light,
.dark-layout .list-group-item,
.dark-layout body a.btn-light,
.dark-layout .nav-tabs .nav-item.show .nav-link,
.dark-layout .nav-tabs .nav-link.active,
.dark-layout .tab-content .tab-pane,
.dark-layout .bg-white {
  background-color: #222222 !important;
}

.dark-layout .bg-background,
.dark-layout .header.active,
.dark-layout .list-group-item.active,
.dark-layout .list-items li {
  background-color: #444444;
}

.dark-layout .search {
  background: url(../img/search.png) no-repeat center right #222222;
  border-color: #444444;
}

.dark-layout .header .menu-btn > img {
  content: url("../assets/images/logo/menu_dark.png");
}

/*.dark-layout .header-logo {
  content: url("../img/logo-header_white.png");
}*/

.dark-layout .sidebar .main-menu .list-group-item {
  background-color: rgba(255, 255, 255, 0) !important;
}

.dark-layout .sidebar .main-menu .list-group-item.active {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

/* media query */

@media screen and (min-width: 993px) {
  .sidebar {
    width: 280px;
    left: -290px;
  }
}

@media screen and (min-width: 1180px) {
  .sidebar {
    width: 290px;
    left: -300px;
  }
}

@media screen and (max-width: 374px) {
  .footer .btn:not(.centerbutton) {
    width: 50px;
  }
}

/* Chrome safari scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(230, 230, 230, 0.4);
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}

#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}

#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}

#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}

#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.step {
  list-style: none;
  margin: 0.2rem 0;
  width: 100%;
  padding-left: 0px;
}

.step .step-item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative;
  width: 10px;
  text-align: center;
}

.step .step-item:not(:first-child)::before {
  background: #0069d9;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 9px;
  width: 100%;
}

.step .step-item a {
  color: #acb3c2;
  font-size: 11px;
  display: inline-block;
  padding: 20px 0px 0;
  text-decoration: none;
}

.step .step-item a::before {
  background: #28a745;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.9rem;
  left: 50%;
  position: absolute;
  top: 0.2rem;
  transform: translateX(-50%);
  width: 0.9rem;
  z-index: 1;
}

.step .step-item.active a::before {
  background: #fff;
  border: 0.1rem solid #0069d9;
}

.step .step-item.active ~ .step-item::before {
  background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
  background: #e7e9ed;
}
.clear-background {
  mix-blend-mode: multiply;
}
div.modal-body div.main-category div.item img {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
}

div.modal-body div.main-category div.item p {
  color: #333333;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

div.modal-body div.main-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.modal-body div.main-category div.item {
  cursor: pointer;
  margin: 0 10px;
  width: 90px;
}

.full {
  margin: 0px -15px 0px -15px;
}
.tabel-info-produk {
  width: 100px;
}
.search-samping {
  position: relative;
  padding: 5px 25px 5px 15px;
  line-height: 18px;
  width: fit-content;
  border: 0px none;
  border-radius: 30px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
}

.search-samping a {
  color: white;
}
body {
  background: #dedede;
}
.coupon .kanan {
  border-left: 1px dashed #ddd;
  width: 45% !important;
  position: relative;
}

.coupon .kanan .info::after,
.coupon .kanan .info::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f1f4f7;
  border-radius: 100%;
}
.coupon .kanan .info::before {
  top: -10px;
  left: -10px;
}

.coupon .kanan .info::after {
  bottom: -10px;
  left: -10px;
}
.coupon .time {
  font-size: 1.6rem;
}

.tombol-footer-detail {
  width: 90%;
  height: 35px;
  margin-top: 16px;
}
.tombol-footer-detail-chat {
  width: 90%;
  height: 35px;
  margin-top: 16px;
}

.cart_counter_top {
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ff0068;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 13px;
}
.progress-rating {
  max-width: 190px;
}

.progress-rating-2 {
  height: 9px;
  margin: 8px 0;
}

/* PESAN KOTAK MASUK */
.pesan {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 70vh;
  padding-bottom: 36px;
}
.pesan .pesanwrap {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pesan .isipesan {
  box-shadow: 0px 0px 4px 1px #eee;
  background: #e4f1fe;
  padding: 8px 16px;
  display: inline-block;
  width: auto;
  max-width: 60%;
  border-radius: 10px;
  text-align: center;
  font-size: 90%;
  position: relative;
}
.pesan .isipesan small {
  font-size: 70%;
}
/*.pesan .isipesan small{
	position: absolute;
	bottom: -16px;
	right: 0px;
	background: #dedede;
	color: #C0A230;
	padding: 2px 4px;
	border-radius: 4px;
}*/
.pesan .center .isipesan {
  margin: auto;
  box-shadow: 0px 0px 2px 1px #eee;
  background: #eee;
  padding: 4px 12px;
  border-radius: 4px;
  text-align: center;
}
.pesan .right {
  justify-content: flex-end;
}
.pesan .right .isipesan {
  background: #c0a230;
  color: #fff;
  text-align: right;
}
.pesan .left {
  justify-content: flex-start;
}
.pesan .left .isipesan {
  text-align: left;
}
.formpesan {
  width: 100%;
}
.formpesan input {
  border-radius: 6px 0px 0px 6px;
}
.formpesan button {
  border-radius: 0px 6px 6px 0px;
}
.notif {
  position: relative;
}
.notif .badge {
  position: absolute;
  right: -8px;
  top: -8px;
  border-radius: 10px;
  padding: 5px 8px;
}

.trans-04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.how-pagination1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #808080;
  width: 36px;
  height: 36px;
  border: 1px solid #e6e6e6;
}

.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.active-pagination1 {
  background-color: #e3eaf1;
}

.flex-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.flex-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.fa-blink {
  -webkit-animation: fa-blink 1.75s linear infinite;
  -moz-animation: fa-blink 1.75s linear infinite;
  -ms-animation: fa-blink 1.75s linear infinite;
  -o-animation: fa-blink 1.75s linear infinite;
  animation: fa-blink 1.75s linear infinite;
}

.metode-item {
  padding: 20px;
  border: 2px solid #8c8f92;
  background: #8c8f92;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.metode-bayar {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}
/* METODE PEMBAYARAN */
.metode-bayar {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}
.metode-item {
  padding: 20px;
  border: 2px solid #8c8f92;
  background: #8c8f92;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  height: 70px;
}
.metode-item.active {
  border: 2px solid #27ae60;
  background: #27ae60;
}
.metode-item .icon {
  width: 25%;
}
.metode-item .cek {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.metode-item .cek {
  display: none;
}
.metode-item.active .cek {
  display: block;
  width: 30px;
  padding-top: 8px;
}

.toaster {
  position: fixed;
  bottom: 3vw;
  left: 3vw;
  /* background-image: linear-gradient( 0deg, rgb(204, 255, 243) 26.8%, rgb(242, 250, 253) 64% ); */
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  border-bottom: 2px solid #2980b9;
  box-shadow: 0px 0px 6px 2px #a5a4a4;
  z-index: 200;
  margin: 0;
  width: 94%;
}

  .oldPrice {
    color: #777777;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: line-through;
}

.note1 {
    font-size: 12px;
    text-align: left;
    color: red;
}

.product_marks {
  padding-left: 8px;
    padding-top: 5px;
    position: absolute;
    top: -10px;
    left: 135px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 12px;
    display: inline-block;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}